* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

/* input[type='checkbox']:hover {
    box-shadow: 0 0 2px 2px rgba(204,226,247,0.4), 0 0 0 1px rgba(204,226,247,0.4);
} */

.signin-container {
    margin: 150px auto;
    width: 343px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.signin-tab-box {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.signin-tab-body {
    display: block;
    width: 100%;
    height: 47px;
    padding: 8px 8px 9px 8px;
    border-bottom: 2px solid rgb(102, 102, 196);
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
    background-color: white;
}

.signin-box {
    width: 100%;
    /* box-shadow: 0 0 0 1px #e5e5e5; */
    border: 1px solid #dfdfdf;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 15px;
    font-size: 13px;
}

.signin-body {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.signin-form-group {
    margin-bottom: 16px;
}

.signin-label-bold {
    display: inline-block;
    color: #2e2e2e;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 8px;
}

.signin-form-control {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #2e2e2e;
    background-color: rgb(232, 240, 254);
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signin-form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
    border: 1px solid #80bdff;
}

.signin-username {
    display: block;
    width: 100%;
}

.signin-password {
    display: block;
    width: 100%;
}

.signin-user-remember-me {
    display: inline-block;
    margin-bottom: 8px;
    color: #2e2e2e;
    font-weight: 600;
}

.signin-float-right {
    display: block;
    font-size: 13px;
    float: right;
    /* text-align: right; */
    text-decoration: none;
}

.signin-float-right:hover {
    text-decoration: underline;
}

.signin-summit-container {
    display: block;
    margin-top: 24px;
}

.signin-btn{
    width: 100%;
    height: 34px;
    padding: 6px, 0;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s linear, background-image 0.1s linear, border-color 0.1s linear, box-shadow 0.1s linear, opacity 0.1s linear;
}

.signin-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(60,183,111,0.5);
}

.signin-btn:hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    /* background-position: -.5em; */
    border-color: rgba(27,31,35,.5);
}

.signin-btn:active {
    background-color: #279f43;
    background-image: none;
    border-color: rgba(27,31,35,.5);
    box-shadow: inset 0 .15em .3em rgba(27,31,35,.15);
}

.signin-btn:disabled {
    background-color: #94d3a2;
    background-image: none;
    cursor: default;
}

.signin-flash-error {
    width: 100%;
    /* height: 50px; */
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    background-color: rgb(255, 220, 224);
    padding: 15px 20px;
    margin-bottom: 10px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 13px;
    line-height: 17px;
}

.signin-error-message {
    display: inline-block;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 13px;
    line-height: 17px;
}

.signin-flash-close {
    height: 28px;
    float: right;
    padding: 8px;
    margin: -8px;
    color: inherit;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: .6;
}

.signin-flash-close:hover {
    opacity: 1;
}

.signin-oction {
    display: inline-block;
    vertical-align: text-bottom;
}