* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.signup-container {
    margin: 150px auto;
    width: 403px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.signup-tab-box {
    width: 100%;
    border: 1px solid #dfdfdf;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.signup-tab-body {
    display: block;
    width: 100%;
    height: 47px;
    padding: 8px 8px 9px 8px;
    border-bottom: 2px solid rgb(102, 102, 196);
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
    background-color: white;
}

.signup-box {
    width: 100%;
    /* box-shadow: 0 0 0 1px #e5e5e5; */
    border: 1px solid #dfdfdf;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 15px;
    font-size: 13px;
}

.signup-body {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.signup-form-group {
    margin-bottom: 16px;
}

.signup-label-bold {
    display: inline-block;
    color: #2e2e2e;
    font-weight: 600;
    font-size: 13px;
}

.signup-form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    background-position: right 8px center;
    /* background-position-x: right 8px;
    background-position-y: center; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: rgb(232, 240, 254);
    font-size: 14px;
}

.signup-form-control:focus {
    background-color: rgb(232, 240, 254);
}

.signup-summit-container {
    display: block;
    margin-top: 24px;
}

.signup-btn {
    width: 100%;
    height: 34px;
    padding: 6px, 0;
    background-color: rgb(26, 170, 85);
    border: 1px solid rgb(22, 143, 72);
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s linear, border-color 0.1s linear, box-shadow 0.1s linear;
}

.signup-btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(60,183,111,0.5);
}

.signup-btn:hover {
    background-color: #168f48;
    border-color: #12753a;
}

.signup-btn:active {
    background-color: #137e3f;
    border-color: #127339;
    box-shadow: none;
}

.signup-btn:disabled {
    background-color: #94d3a2;
    background-image: none;
    cursor: default;
}

.signup-flash-error {
    width: 100%;
    /* height: 50px; */
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    background-color: rgb(255, 220, 224);
    padding: 15px 20px;
    margin-bottom: 10px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 13px;
    line-height: 17px;
}

.signup-flash-success {
    width: 100%;
    /* height: 50px; */
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    background-color: rgba(60,183,111,0.5);
    padding: 15px 20px;
    margin-bottom: 10px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 13px;
    line-height: 17px;
}

.signup-flash-message {
    display: inline-block;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 13px;
    line-height: 17px;
}

.signup-flash-close {
    height: 28px;
    float: right;
    padding: 8px;
    margin: -8px;
    color: inherit;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: .6;
}

.signup-flash-close:hover {
    opacity: 1;
}

.signup-oction {
    display: inline-block;
    vertical-align: text-bottom;
}

.siginup-username-hint {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(112, 112, 112);
}

.siginup-password-hint {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(112, 112, 112);
}

.signup-username-message {
    display: block;
    font-size: 13px;
    color: red;
    float: right;
    /* text-align: right; */
}

.signup-password-message {
    display: block;
    font-size: 13px;
    color: red;
    float: right;
    /* text-align: right; */
}

.signup-username {
    display: block;
    width: 100%;
}

.signup-password {
    display: block;
    width: 100%;
}

/* .is-autocheck-errored {
    padding-right: 30px;
    background-image: url(../icon/error.png) !important;
}

.is-autocheck-successed {
    padding-right: 30px;
    background-image: url(../icon/success.png) !important;
}

.is-autocheck-loading {
    padding-right: 30px;
    background-image: url(../icon/loading.gif) !important;
} */
