{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>注册</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>注册页面</h1>
        <div>
            <label>用户名：</label>
            <input type="text" placeholder="username" />
            <a href="register.html">没有账户?</a>
        </div>
        <div>
            <label>密码：</label>
            <input type="password" placeholder="password" />
        </div>
        <div>
            <input type="submit" value="确定">
        </div>
    </body>
</html>