{% extends 'home.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %}<title>Sign in to Home</title>{% endblock %}
        {% block css %}<link rel="stylesheet" href="{% static 'css/signin.css' %}">{% endblock %}
        {% block js %}<script type="text/javascript" src="{% static 'js/signin.js' %}"></script>{% endblock %}
    </head>
    <body>
    {% block content %}{% endblock %}
    {% block signin %}
        <div class="signin-container">
            <div class="signin-header">
                <span>Sign in to Home</span>
            </div>
            {% if message %}
            <div class="signin-flash-error" id="flash-error">
                <span class="signin-error-message">Incorrect username or password.</span>
                <button class="signin-flash-close" type="button" id="del-message">
                    <svg class="signin-octicon" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"></path>
                    </svg>
                </button>
            </div>
            {% endif %}
            {% comment %} <div class="signin-tab-box">
                <label class="signin-tab-body">Sign in to Home</label>
            </div> {% endcomment %}
            <div class="signin-box">
                <div class="signin-body">
                <form action="/user/signin/" method="POST" accept-charset="utf-8" id="form-signin">
                    {% csrf_token %}
                    <div class="signin-form-group">
                        <label for="username" class="signin-username">
                            <span class="signin-label-bold">Username</span>
                            <a class="signin-float-right" href="/user/signup">Don't have an account?</a>
                        </label>
                        {% comment %} <input class="signin-form-control" autofocus="autofocus" autocapitalize="off" autocorrect="off" \
                        type="text" spellcheck="false" tabindex="1" id="username" /> {% endcomment %}
                        {{ signin_form.username }}
                    </div>
                    <div class="signin-form-group">
                        <label for="password" class="signin-password">
                            <span for="user_password" class="signin-label-bold">Password</span>
                            <a class="signin-float-right" href="">Forgot your password?</a>
                        </label>
                        {% comment %} <input class="signin-form-control" autofocus="autofocus"\
                        type="password" tabindex="2" id="password" /> {% endcomment %}
                        {{ signin_form.password }}
                    </div>
                    <div class="signin-summit-container">
                        <input class="signin-btn" type="submit" value="Sign in" tabindex="3" id="signin" data-disable-with="Signing in..."/>
                    </div>
                </form>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>